@font-face {
    font-family: 'HBIOS-SYS';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/HBIOS-SYS.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DOSMyungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSMyungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html, body{
    margin : 0;
}
.container{
    text-align: center;
}
.clock{
    width: 300px; 
    margin: 5px auto;
    border: solid mediumslateblue;
    border-radius: 10px;
}
h1{
    font-size : 1.5rem;
    font-family: 'HBIOS-SYS';
    font-weight: 600;
}
button{
    width : 100px;
    height: 40px;
    color:mediumslateblue;
    background-color : #fafafa;
    border-radius: 5px;
    border-color: mediumslateblue;
    margin: 10px;
    font-size: 1.2rem;
    font-family: 'HBIOS-SYS';

}