@font-face {
    font-family: 'HBIOS-SYS';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/HBIOS-SYS.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DOSMyungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSMyungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    display: grid;
    width: 414px;
    height: 100vh;
    margin: 0;
    grid-template-columns: 1fr;
    grid-template-rows: auto 30px;
    grid-template-areas: 

    'main'
    'footer';
}


main,
footer {
  display: flex;
  align-items: center;
  grid-row-end :20px;
  justify-content: center;
}


main{
    grid-area: main;
    display: flex;
    flex-direction: column;
}

.image{
    margin: 1%;
}

.image1{
    width: 250px;
}

.image2{
    width: 150px;
}

.image3{
    margin: 7%;
    width:180px;
}


.txt{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 10px;
    color: mediumslateblue;
 

}

#paragraph{
    font-family: 'HBIOS-SYS';
    font-size: 1.5rem;
    margin-top: 10px;
}

.draw{
    width: 300px; 
    border: solid mediumslateblue;
    border-radius: 10px;
    align-items: center;
    font-family: 'HBIOS-SYS';
    margin-top: 10%;
    margin-bottom: 10px;
}

h1{
    font-size : 1.5rem;
    font-weight: 600;
    text-align: center;
}

button{
    width : 100px;
    height: 40px;
    color:mediumslateblue;
    background-color : #fafafa;
    border-radius: 5px;
    border-color: mediumslateblue;
    margin-top: 5px;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'HBIOS-SYS';
}

footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    justify-content: center;
    grid-area: footer;
    background-color: #006666;
    font-family: 'HBIOS-SYS';
    color: white;
}